<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instaphoto</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container">
      <div class="wraper1">

          <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="/">Instaphoto</a></li>
              <% if (currentUser) { %>
              <li>
                  <img class="avatar" style="margin: 5px 0 0 20px" src="<%=currentUser.photo() %>">
              </li>
              <li>
                  <a href="/edit">
                      Hello, <%= currentUser.name() %>
                  </a>
              </li>
              <li><a href="/logout">Log out</a></li>
              <% } else { %>
              <li><a href="/login">Log in</a></li>
              <li><a href="/signup">Sign up</a></li>
              <% } %>
          </ul>
      </div>



  </div>

</div>

<div class="container">

      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% }) %>

      <% infos.forEach(function(info) { %>
        <div class="alert alert-info" role="alert">
          <%= info %>
        </div>
      <% }) %>

</div>