<% include _header %>

<% if (currentUser)  { %>
<section class="myPhotos">
    <div class="container">
        <h3 class="heading">My photos</h3>
        <div class="wraper1">
            <% photos.forEach(function(photo) { %>
                <a href="#"><img class="img" src="<%= photo.image %>" alt=""></a>
            <% }); %>
        </div>
    </div>
</section>

<section class="otherPhotos">
    <div class="container">
        <h3 class="heading">Other photos</h3>
        <div class="wraper1">
            <% otherPhotos.forEach(function(otherPhoto) { %>
            <a href="#"><img class="img" src="<%= otherPhoto.image %>" alt=""></a>
            <% }); %>
        </div>
    </div>
</section>


<section class="upload">
    <div class="container">
        <h3 class="heading">Upload photo</h3>
        <div class="wraper">
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="upload-img" id="file">
                <br>
                <textarea rows="4" class="desc" name="comment" placeholder="Enter Description Here..."></textarea>
                <br>
                <input type="submit" value="Upload" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
</section>
<% } else { %>
<section class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="animated fadeInLeft">
                    <h1>Best file-sharing website</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec nisl vitae nibh euismod pharetra.
                        Vivamus risus tortor, aliquam ac lectus quis, tristique vestibulum velit.</p>
                    <a class="btn btn-primary btn-lg" href="#">Find Out More</a>
                </div>
            </div>
            <div class="col-md-5 img-html">
                <div class="animated fadeInUp">
                    <img src="images/html.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-center">
    				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-circle fa-stack-2x fa-color"></i>
					  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
					</span>
                <h3>Valid Code</h3>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
    				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-circle fa-stack-2x fa-color"></i>
					  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
                <h3>Responsive</h3>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
    				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-circle fa-stack-2x fa-color"></i>
					  <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
					</span>
                <h3>Animation Ready</h3>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
    				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-circle fa-stack-2x fa-color"></i>
					  <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
					</span>
                <h3>Customizable</h3>
            </div>
        </div>
    </div>
</section>
<% } %>

<% include _footer %>
